.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel__wrapper {
  margin: 0 auto;
  background-color: lightblue;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.container {
  overflow: hidden;
}

button {
  padding: 10px 20px;
}

.content {
  width: 100%;
  height: 100%;
  font-size: 100px;
  transition: 0.2s;
  text-align: center;
  /* background-color: rgb(25, 0, 255); */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden__left {
  transform: translateX(-100%);
}

.hidden__right {
  transform: translateX(100%);
}

.vissible {
  transform: translateX(0px);
}

.animate__right {
  transform: translateX(100%);
  visibility: hidden;
}

.animate__left {
  transform: translateX(-100%);
  visibility: hidden;
}

.animate__start {
  transform: translateX(0px);
  visibility: visible;
}

.anim {
  animation: scrollAnim 0.5s ease;
}

@keyframes scrollAnim {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(100%);
    opacity: 0;
  }
  66% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}