body {
    background-color: loghtgray;
}

.wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.vissbile_elems__wrapper {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.vissible__elems {


    height: 200px;
    width: 200px;
    /* background-color: lightgray; */
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 2;

}

.btn div {
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
}

.image__list {
    display: flex;
    gap: 20px;
    position: absolute;
    transition: 1s;
}

.image {
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.1);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}