.container_ {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
}

.button:focus,
.button:active {
    box-shadow: none;
}